In [1]:
import os, sys

cwd = os.getcwd()
module_path = os.path.abspath(os.path.join('..'))

sys.path.insert(0, os.path.join(cwd, "../"))
sys.path.insert(0, os.path.join(cwd, "../student_life/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/"))
sys.path.insert(0, os.path.join(cwd, "../student_life/src/bin/"))

import copy
from scipy import stats
import pickle
import importlib
import src.utils.student_utils as student_utils
import src.utils.data_conversion_utils as conversion_utils
from collections import defaultdict
import geopy.distance
from sklearn.metrics.pairwise import euclidean_distances

import src.definitions as definitions
import pandas as pd
import numpy as np
from IPython.display import display
from src.data_manager import student_life_var_binned_data_manager
importlib.reload(student_life_var_binned_data_manager)
importlib.reload(student_utils)

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline  

print(module_path)

/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/notebooks/../src/utils/read_utils.py:11: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_file = yaml.load(ymlfile)
/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/notebooks/../src/utils/read_utils.py:11: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_file = yaml.load(ymlfile)

Student ID couldn't be converted to Integer!
Student ID couldn't be converted to Integer!
/Users/nsimsiri/Documents/code/ml/MultiRes/student_life

In [2]:
import geopy.distance as euclidean_distances
COORD_DIST = lambda p1, p2: euclidean_distances.distance(p1, p2).km
from scipy.spatial import ConvexHull
from area import area
from editdistance import eval as edit_distance
from sklearn.cluster import MeanShift, estimate_bandwidth
import scipy
from datetime import datetime, timedelta
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [3]:
keyword = 'gps'
def load_features(student_id=2):
    path = "{}/data/student_life_minimal_processed_data/student_{}".format(module_path, student_id)
    if not os.path.exists(path):
        return None
    feats = {}
    for _file in os.listdir(path):
        if keyword not in _file and 'stress' not in _file: 
            continue
        feat_path = path + "/" + _file
        df = pd.read_csv(feat_path)
        print('student {} loaded feat: {}'.format(student_id, _file))      
        feat_name = _file.replace('.csv', '')
        feats[feat_name] = df
    return feats
        
    
feats = load_features(student_id=46)
print(len(feats))

student 46 loaded feat: stress_details.csv
student 46 loaded feat: gps_details.csv
2

Location Features (8 total):
 - total distance covered in a day
 - maximum 2-point displacement in a day
 - distance standard deviatio
 - number of different areas visited by tiles approximation
 - total spatial coverage by convex hull,
 - difference in sequence of tiles covered compared to previous day
 - difference in sequence of clusters visited compared to previous day
 - distance entropy

4 Temporal one-hot features 
- weekends, start of term, mid-term, end of term

https://www.ucl.ac.uk/~ucfamus/papers/digitalbiomarkers17.pdf

In [4]:
def index_time_to_df(df):
    df.loc[:, 'time'] = pd.to_datetime(df.loc[:,'time'])
    df = df.set_index('time')
    return df
location = feats['gps_details']
print(len(location))
display(location[:5])
location = index_time_to_df(location)

2645

                  time  student_id   latitude  longitude
0  2013-03-27 18:59:06          46  43.706609 -72.287028
1  2013-03-27 19:17:50          46  43.706579 -72.287030
2  2013-03-31 20:12:30          46  43.706597 -72.286990
3  2013-03-31 20:32:29          46  43.705551 -72.288619
4  2013-03-31 20:52:29          46  43.705543 -72.288652

### (1, 2) Total Distance Covered, Max Displacement

In [5]:
def to_distance(_location):
    location = _location.copy()
    location['distance'] = [0 for x in range(len(location))]

    for i in range(1, len(location)):
        row_cur = location.iloc[i]
        row_prev = location.iloc[i-1]
        p1 = (row_cur['latitude'], row_cur['longitude'])
        p2 = (row_prev['latitude'], row_prev['longitude'])
        dist = euclidean_distances.distance(p1, p2).km
        location.iloc[i, location.columns.get_loc('distance')]= dist
    return location

def get_feat_distance_covered(distance):
    # display(conversation)
    bin_freq = 1440# 24 * 60
    feats = distance['distance']
    sample_rule = '{}T'.format(bin_freq)
    aggregate = pd.DataFrame(feats.resample(sample_rule).sum())
    displacement = pd.DataFrame(feats.resample(sample_rule).max())
#     displacement = displacement.fillna(0.0)
#     displacement = displacement.ffill()
    displacement = displacement.rename(columns={'distance': "displacement"})
    return aggregate, displacement

# distance = to_distance(location)
# total_distance, max_displacement = get_feat_distance_covered(distance)
# display(max_displacement[:3])
# display(total_distance[:3])

### (3) Standard Deviation

In [6]:
def get_std_distance(distance):
    # display(conversation)
    bin_freq = 1440# 24 * 60
    feats = distance['distance']
    sample_rule = '{}T'.format(bin_freq)
    aggregate = feats.resample(sample_rule).std()
    aggregate = aggregate.ffill()
    aggregate = pd.DataFrame(aggregate)
    aggregate = aggregate.rename(columns={'distance': "distance_std"})
    return aggregate

# std_distances = get_std_distance(distance)
# display(std_distances[:3])

### (4) Spatial Tile - unique tile visited

In [7]:

def build_spatial_map(_location, bound=50):
    location = _location.copy()
    lats  = location['latitude']
    longs = location['longitude'] 
    min_lat, max_lat = lats.min(), lats.max()
    min_long, max_long = longs.min(), longs.max()
#     print("min_lat", min_lat, "max_lat", max_lat, "min_long", min_long, "max_long", max_long)
    TL = [min_lat, max_long]
    TR = [max_lat, max_long]
    BL = [min_lat, min_long]
    BR = [max_lat, min_long]
#     print(COORD_DIST(TL, TR), COORD_DIST(BL, BR), abs(COORD_DIST(TL, TR)-COORD_DIST(BL, BR)))
#     print(COORD_DIST(TL, BL), COORD_DIST(TR, BR), abs(COORD_DIST(TL, BL)-COORD_DIST(TR, BR)))
    location['area'] = ["" for x in range(len(location))]
    for i in range(len(location)):
        row = location.iloc[i]
        lat, long = row['latitude'], row['longitude']
        x_dist = COORD_DIST([lat, long], [min_lat, long])
        y_dist = COORD_DIST([lat, long], [lat, min_long])
        hash_x, hash_y = int(x_dist/bound), int(y_dist/bound)
        hash_xy = "{}-{}".format(hash_x, hash_y)
        location.iloc[i, location.columns.get_loc('area')] = hash_xy
    return location['area']

def bin_areas_by_day(areas):
    def bin_day(subset):
        tiles = subset.values
        return tiles
    sample_rule = '{}T'.format(1440)
    aggregate = areas.resample(sample_rule).apply(bin_day)
    aggregate = pd.DataFrame(aggregate)
    return aggregate

# areas = build_spatial_map(location)
# area_days = bin_areas_by_day(areas)
# display(area_days[:3])

In [8]:
def unique_tile_feats(area_days):
    out = area_days.copy()
    N = len(area_days)
    out['unique_tile_count'] = [0 for x in range(N)]
    for i in range(N):
        tile_set = set(out.iloc[i, out.columns.get_loc('area')])
        out.iloc[i, out.columns.get_loc('unique_tile_count')] = len(tile_set)
    return out
        

# unique_tiles = unique_tile_feats(area_days)
# display(unique_tiles[:5])
# print(unique_tiles.iloc[4].values)

### (5) Convex Hull

In [9]:
def convex_hull_feats(locations, bin_freq=1440):
    def bin_convex(subset):
        coords = subset[['latitude','longitude']].values
        if(len(coords)<=2):
            return 0
        hull = None
        try:
            hull = ConvexHull(coords)
        except:
            return 0
        points = [list(hull.points[ix]) for ix in hull.vertices]
        obj = {'type':'Polygon','coordinates':[points]}
        area_result = area(obj)/100
        return area_result
    out = locations.copy()
    sample_rule = "{}T".format(bin_freq)
    out = out.resample(sample_rule).apply(bin_convex)
    out = pd.DataFrame(out)
    out = out.rename(columns={0: "convex_hull_area"})
    return out
    

# convex_areas = convex_hull_feats(location)
# display(convex_areas[:6])

### (6) difference in sequence of tiles covered compared to previous day

In [10]:
def prev_edit_dist_feats(area_days):
    N = len(area_days)
    prev_tile_changes = area_days.copy()
    prev_tile_changes['tile_change'] = [0 for i in range(N)]
    for i in range(1, N):
        cur_tiles  = prev_tile_changes.iloc[i, prev_tile_changes.columns.get_loc('area')]
        prev_tiles = prev_tile_changes.iloc[i-1, prev_tile_changes.columns.get_loc('area')]
        change = edit_distance(cur_tiles, prev_tiles)
        prev_tile_changes.iloc[i, prev_tile_changes.columns.get_loc('tile_change')] = change
    return pd.DataFrame(prev_tile_changes['tile_change'])

# tile_changes = prev_edit_dist_feats(area_days)
# display(tile_changes[:3])

### (7) difference in sequence of clusters visited compared to previous day

In [11]:
def location_cluster_feats(locations, bin_freq=1440):
    def bin_location_cluster(subset):
        X = np.array(subset['cluster'].values.tolist())
        if (len(X)<=0): 
            return 0
        ms = MeanShift()
        ms.fit(X)
        c = len(ms.cluster_centers_)
        return c
    
    out = locations.copy()
    out['cluster'] = locations[['latitude','longitude']].values.tolist()
    bin_rule = "{}T".format(bin_freq)
    out = pd.DataFrame(out.resample(bin_rule).apply(bin_location_cluster))
    out = out.rename(columns={0: "cluster"})
    return out
    
# location_cluster = location_cluster_feats(location)
# display(location_cluster[:3])

### (8) Shannon Entropy every 10 minutes per day

In [12]:
def entropy_feats(distance, bin_freq=1440):
    def bin_shannon(subset):
        x = subset['distance'].values
        entropy = scipy.stats.entropy(x)
        return entropy
    
    out = pd.DataFrame(distance['distance'].copy())
    out = out.resample("10T").sum()
    out = out.resample("{}T".format(bin_freq)).apply(bin_shannon)
    out = out.fillna(0.0)
    out = pd.DataFrame(out)
    out = out.rename(columns={0: "entropy"})
    return out
    
# display(distance)
# entropies = entropy_feats(distance)
# display(entropies[:6])

### (9-12) Temporal Features

In [13]:
TO_YEAR = lambda x: x.astype('datetime64[Y]').astype(int) + 1970
TO_MONTH = lambda x: x.astype('datetime64[M]').astype(int)  % 12 + 1
TO_DAY = lambda x: x.astype('datetime64[D]').astype(int)
def to_year_month_date(x):
    year, month, day = str(x).split('T')[0].split("-")
    year, month, day = int(year), int(month), int(day)
    return year, month, day

def is_weekend(dt64):
    y,m,d = to_year_month_date(dt64)
    x = datetime(y,m,d,0,9)
    return x.isoweekday() in [6,7]

def temporal_feats(distances):
    N = len(distances)
    out = distances.copy()
    mid_start_raw = '2013-04-15T00:00:00.000000000'#Monday, April 15, 2013
    mid_end_raw = '2013-05-06T00:00:00.000000000'# Monday, May 6, 2013
    mid_start = np.datetime64(mid_start_raw)
    mid_end   = np.datetime64(mid_end_raw)
    out['start_term'] = [0 for i in range(N)]
    out['end_term'] = [0 for i in range(N)]
    out['mid_term'] = [0 for i in range(N)]
    out['weekends'] = [0 for i in range(N)]
    for idx in out.index.values:
        weekend_col = out.columns.get_loc('weekends')
        out.at[idx,'weekends'] = int(is_weekend(idx))
        x_term_col = ""
        if (idx <= mid_start):
            x_term_col = 'start_term'
        elif (idx >= mid_end):
            x_term_col = 'end_term'
        else:
            x_term_col = 'mid_term'
        out.at[idx, x_term_col] = 1
    return out
        
        
# temporal_data = temporal_feats(total_distance)
# display(temporal_data[:5])

### stress

In [14]:
def get_stress_labels(feats, bin_freq=1440):
    def curry_apply(stress_median):
        stress_median = 2
        def bin_stress_to_classes(subset):
            stress_mean = np.mean(subset['stress_level'])
#             print(subset['stress_level'])
#             print("MEAN: " + str(stress_mean))
            if stress_mean < stress_median: 
                return 0.0
            elif stress_mean > stress_median:
                return 2.0
            elif stress_mean == stress_median:
                return 1.0
            else:
                return float('nan')
        return bin_stress_to_classes
    
    stress = feats['stress_details']
    
    stress_median = stress['stress_level'].median()
    stress = index_time_to_df(stress)
    stress_labels = stress.resample("{}T".format(bin_freq)).apply(curry_apply(stress_median))
    stress_labels = stress_labels.dropna()
    stress_labels = pd.DataFrame(stress_labels)
    stress_labels = stress_labels.rename(columns={0: "stress"})
    print("stress: {}".format(len(stress_labels)))
    return stress_labels
    
stress_labels = get_stress_labels(feats)
display(stress_labels)

stress: 22

            stress
time
2013-03-24     2.0
2013-04-01     2.0
2013-04-02     2.0
2013-04-03     0.0
2013-04-04     0.0
2013-04-05     2.0
2013-04-06     1.0
2013-04-07     2.0
2013-04-08     1.0
2013-04-09     0.0
2013-04-11     2.0
2013-04-12     1.0
2013-04-13     2.0
2013-04-15     2.0
2013-04-17     2.0
2013-04-26     2.0
2013-04-29     2.0
2013-04-30     2.0
2013-05-02     1.0
2013-05-06     2.0
2013-05-07     1.0
2013-05-09     1.0

In [15]:
import time
def build_features(feats, student_id=2):
    t0 = time.time()
    location = feats['gps_details']
    location = index_time_to_df(location)
    # 1,2,3 - basic stats
    distance = to_distance(location)
    total_distance, max_displacement = get_feat_distance_covered(distance)
    std_distances = get_std_distance(distance)
    # 4 - unique tiles
    areas = build_spatial_map(location)
    area_days = bin_areas_by_day(areas)
    unique_tiles = unique_tile_feats(area_days)
    # 5 - edit-disatance tiles
    tile_changes = prev_edit_dist_feats(area_days)
    # 6 - convex
    convex_areas = convex_hull_feats(location)
    # 7 - cluster
    location_cluster = location_cluster_feats(location)
    # 8 - entropy
    entropies = entropy_feats(distance)
    # 9,10,11,12 - temporal
    temporal_data = temporal_feats(total_distance)

    print('student {} features built: {} sec'.format(student_id, time.time()-t0))
    feature_set = pd.concat([total_distance, max_displacement, std_distances, unique_tiles, tile_changes, 
                             convex_areas, location_cluster, entropies, temporal_data], axis=1, sort=False)
    
    features_list = ['distance', 'displacement', 'distance_std', 'unique_tile_count', 'convex_hull_area',
                    'tile_change','cluster', 'entropy', 'start_term', 'end_term', 'mid_term', 'weekends'] 
    feature_set = pd.DataFrame(feature_set[features_list])
    feature_set = feature_set.loc[:,~feature_set.columns.duplicated()]
    return feature_set
    
# build_features(student_id=43)

In [16]:
# labels - stress
def build_dataset(student_id=43):
#     student_id = 43
    feats = load_features(student_id=student_id)
    if (feats is None or 'stress_details' not in feats or 'gps_details' not in feats):
        return None, None, None
    stress_labels = get_stress_labels(feats)
    features = build_features(feats, student_id = student_id)
    dataset = pd.concat([features, stress_labels], axis=1, join='inner', sort=False)
    dataset['student_id'] = [student_id for i in range(len(dataset))]
    dataset = dataset.reset_index()
#     features = []
#     dataset = []
    return dataset, features, stress_labels

# dataset, features, stress = build_dataset(student_id=43)

In [17]:
# STUDENTS_LIST = [1]
# STUDENTS_LIST = [1, 57, 24]
# STUDENTS_LIST = [24, 57, 42, 7, 2]
# STUDENTS_LIST = [24, 57, 42, 7, 2, 46, 33]
# STUDENTS_LIST = [24, 57, 42, 7, 2, 46, 33, 49, 4]
# STUDENTS_LIST = [1, 2,4, 7,10, 22, 24, 33, 42, 46, 49, 53, 57]
# STUDENTS_LIST = [4, 7, 8, 10, 14, 16, 17, 19, 22, 23, 24, 32, 33, 35, 36, 43, 44, 49, 51, 52, 53, 57, 58]
STUDENTS_LIST = list(range(1, 60))

datasets = []
all_stress = []

for sid in STUDENTS_LIST:
    dataset, _, stress_labels = build_dataset(student_id=sid)

    if stress_labels is not None:
        all_stress.append(stress_labels)
    if (dataset is None):
        continue
    print("student {} data-length: {}".format(sid, len(dataset)))
    datasets.append(dataset)
    
for sid in STUDENTS_LIST:

    dataset, _, stress_labels = build_dataset(student_id=sid)
    
    if stress_labels is not None:
        if (len(stress_labels) < 50): 
            continue
        all_stress.append(stress_labels)
    if (dataset is None):
        continue
    print("student {} data-length: {}".format(sid, len(dataset)))
    datasets.append(dataset)
    if (len(pd.concat(all_stress, axis=0)) > 1050):
        break

student 1 loaded feat: stress_details.csv
student 1 loaded feat: gps_details.csv
stress: 27
student 1 features built: 8.73024296760559 sec
student 1 data-length: 25
student 2 loaded feat: stress_details.csv
student 2 loaded feat: gps_details.csv
stress: 28
student 2 features built: 9.870201110839844 sec
student 2 data-length: 26
student 3 loaded feat: stress_details.csv
student 3 loaded feat: gps_details.csv
stress: 20
student 3 features built: 11.516933679580688 sec
student 3 data-length: 19
student 4 loaded feat: stress_details.csv
student 4 loaded feat: gps_details.csv
stress: 28
student 4 features built: 8.515576124191284 sec
student 4 data-length: 27
student 5 loaded feat: stress_details.csv
student 5 loaded feat: gps_details.csv
stress: 5
student 5 features built: 0.7135002613067627 sec
student 5 data-length: 4
student 7 loaded feat: stress_details.csv
student 7 loaded feat: gps_details.csv
stress: 20
student 7 features built: 4.4386210441589355 sec
student 7 data-length: 16
student 8 loaded feat: stress_details.csv
student 8 loaded feat: gps_details.csv
stress: 40
student 8 features built: 16.898231267929077 sec
student 8 data-length: 39
student 9 loaded feat: stress_details.csv
student 9 loaded feat: gps_details.csv
stress: 4
student 9 features built: 0.6231663227081299 sec
student 9 data-length: 3
student 10 loaded feat: stress_details.csv
student 10 loaded feat: gps_details.csv
stress: 41
student 10 features built: 12.284835815429688 sec
student 10 data-length: 39
student 12 loaded feat: stress_details.csv
student 12 loaded feat: gps_details.csv
stress: 23
student 12 features built: 17.730032920837402 sec
student 12 data-length: 20
student 13 loaded feat: stress_details.csv
student 14 loaded feat: stress_details.csv
student 14 loaded feat: gps_details.csv
stress: 28
student 14 features built: 10.083709955215454 sec
student 14 data-length: 27
student 15 loaded feat: stress_details.csv
student 15 loaded feat: gps_details.csv
stress: 8
student 15 features built: 2.8011157512664795 sec
student 15 data-length: 7
student 16 loaded feat: stress_details.csv
student 16 loaded feat: gps_details.csv
stress: 55
student 16 features built: 18.056153059005737 sec
student 16 data-length: 51
student 17 loaded feat: stress_details.csv
student 17 loaded feat: gps_details.csv
stress: 36
student 17 features built: 27.900750160217285 sec
student 17 data-length: 35
student 18 loaded feat: stress_details.csv
student 18 loaded feat: gps_details.csv
stress: 14
student 18 features built: 7.016883134841919 sec
student 18 data-length: 13
student 19 loaded feat: stress_details.csv
student 19 loaded feat: gps_details.csv
stress: 56
student 19 features built: 15.775969982147217 sec
student 19 data-length: 55
student 20 loaded feat: stress_details.csv
student 20 loaded feat: gps_details.csv
stress: 9
student 20 features built: 2.4921720027923584 sec
student 20 data-length: 6
student 22 loaded feat: stress_details.csv
student 22 loaded feat: gps_details.csv
stress: 32
student 22 features built: 10.754631042480469 sec
student 22 data-length: 28
student 23 loaded feat: stress_details.csv
student 23 loaded feat: gps_details.csv
stress: 25
student 23 features built: 6.009403228759766 sec
student 23 data-length: 24
student 24 loaded feat: stress_details.csv
student 24 loaded feat: gps_details.csv
stress: 24
student 24 features built: 7.1701500415802 sec
student 24 data-length: 17
student 25 loaded feat: stress_details.csv
student 25 loaded feat: gps_details.csv
stress: 15
student 25 features built: 2.848538875579834 sec
student 25 data-length: 14
student 27 loaded feat: stress_details.csv
student 27 loaded feat: gps_details.csv
stress: 18
student 27 features built: 8.826378345489502 sec
student 27 data-length: 16
student 30 loaded feat: stress_details.csv
student 30 loaded feat: gps_details.csv
stress: 20
student 30 features built: 6.929534912109375 sec
student 30 data-length: 19
student 31 loaded feat: stress_details.csv
student 31 loaded feat: gps_details.csv
stress: 13
student 31 features built: 4.252249717712402 sec
student 31 data-length: 12
student 32 loaded feat: stress_details.csv
student 32 loaded feat: gps_details.csv
stress: 38
student 32 features built: 12.071228265762329 sec
student 32 data-length: 33
student 33 loaded feat: stress_details.csv
student 33 loaded feat: gps_details.csv
stress: 36
student 33 features built: 10.026081800460815 sec
student 33 data-length: 33
student 34 loaded feat: stress_details.csv
student 34 loaded feat: gps_details.csv
stress: 6
student 34 features built: 4.626746892929077 sec
student 34 data-length: 5
student 35 loaded feat: stress_details.csv
student 35 loaded feat: gps_details.csv
stress: 30
student 35 features built: 13.02590823173523 sec
student 35 data-length: 29
student 36 loaded feat: stress_details.csv
student 36 loaded feat: gps_details.csv
stress: 38
student 36 features built: 14.183929920196533 sec
student 36 data-length: 37
student 39 loaded feat: stress_details.csv
student 39 loaded feat: gps_details.csv
stress: 7
student 39 features built: 4.913853883743286 sec
student 39 data-length: 6
student 41 loaded feat: stress_details.csv
student 41 loaded feat: gps_details.csv
stress: 11
student 41 features built: 7.433182954788208 sec
student 41 data-length: 10
student 42 loaded feat: stress_details.csv
student 42 loaded feat: gps_details.csv
stress: 20
student 42 features built: 21.40090298652649 sec
student 42 data-length: 19
student 43 loaded feat: stress_details.csv
student 43 loaded feat: gps_details.csv
stress: 35
student 43 features built: 19.56797194480896 sec
student 43 data-length: 34
student 44 loaded feat: stress_details.csv
student 44 loaded feat: gps_details.csv
stress: 48
student 44 features built: 16.858582019805908 sec
student 44 data-length: 47
student 45 loaded feat: stress_details.csv
student 45 loaded feat: gps_details.csv
stress: 21
student 45 features built: 7.820173978805542 sec
student 45 data-length: 20
student 46 loaded feat: stress_details.csv
student 46 loaded feat: gps_details.csv
stress: 22
student 46 features built: 8.152588129043579 sec
student 46 data-length: 20
student 47 loaded feat: stress_details.csv
student 47 loaded feat: gps_details.csv
stress: 12
student 47 features built: 10.41080617904663 sec
student 47 data-length: 11
student 49 loaded feat: stress_details.csv
student 49 loaded feat: gps_details.csv
stress: 45
student 49 features built: 15.079233646392822 sec
student 49 data-length: 44
student 50 loaded feat: stress_details.csv
student 50 loaded feat: gps_details.csv
stress: 4
student 50 features built: 4.803891897201538 sec
student 50 data-length: 3
student 51 loaded feat: stress_details.csv
student 51 loaded feat: gps_details.csv
stress: 33
student 51 features built: 30.121586799621582 sec
student 51 data-length: 32
student 52 loaded feat: stress_details.csv
student 52 loaded feat: gps_details.csv
stress: 31
student 52 features built: 21.970277070999146 sec
student 52 data-length: 30
student 53 loaded feat: stress_details.csv
student 53 loaded feat: gps_details.csv
stress: 29
student 53 features built: 11.905555963516235 sec
student 53 data-length: 26
student 54 loaded feat: stress_details.csv
student 54 loaded feat: gps_details.csv
stress: 17
student 54 features built: 7.658310890197754 sec
student 54 data-length: 16
student 56 loaded feat: stress_details.csv
student 56 loaded feat: gps_details.csv
stress: 17
student 56 features built: 11.85750126838684 sec
student 56 data-length: 15
student 57 loaded feat: stress_details.csv
student 57 loaded feat: gps_details.csv
stress: 45
student 57 features built: 55.49554991722107 sec
student 57 data-length: 44
student 58 loaded feat: stress_details.csv
student 58 loaded feat: gps_details.csv
stress: 40
student 58 features built: 26.660730123519897 sec
student 58 data-length: 39
student 59 loaded feat: stress_details.csv
student 59 loaded feat: gps_details.csv
stress: 70
student 59 features built: 25.22437596321106 sec
student 59 data-length: 61
student 1 loaded feat: stress_details.csv
student 1 loaded feat: gps_details.csv
stress: 27
student 1 features built: 21.04739785194397 sec
student 2 loaded feat: stress_details.csv
student 2 loaded feat: gps_details.csv
stress: 28

student 2 features built: 23.03741955757141 sec
student 3 loaded feat: stress_details.csv
student 3 loaded feat: gps_details.csv
stress: 20
student 3 features built: 28.013298749923706 sec
student 4 loaded feat: stress_details.csv
student 4 loaded feat: gps_details.csv
stress: 28
student 4 features built: 21.14398694038391 sec
student 5 loaded feat: stress_details.csv
student 5 loaded feat: gps_details.csv
stress: 5
student 5 features built: 1.4990730285644531 sec
student 7 loaded feat: stress_details.csv
student 7 loaded feat: gps_details.csv
stress: 20
student 7 features built: 8.611564636230469 sec
student 8 loaded feat: stress_details.csv
student 8 loaded feat: gps_details.csv
stress: 40
student 8 features built: 38.306535959243774 sec
student 9 loaded feat: stress_details.csv
student 9 loaded feat: gps_details.csv
stress: 4
student 9 features built: 0.9654181003570557 sec
student 10 loaded feat: stress_details.csv
student 10 loaded feat: gps_details.csv
stress: 41
student 10 features built: 27.9009952545166 sec
student 12 loaded feat: stress_details.csv
student 12 loaded feat: gps_details.csv
stress: 23
student 12 features built: 42.5744149684906 sec
student 13 loaded feat: stress_details.csv
student 14 loaded feat: stress_details.csv
student 14 loaded feat: gps_details.csv
stress: 28
student 14 features built: 26.817112922668457 sec
student 15 loaded feat: stress_details.csv
student 15 loaded feat: gps_details.csv
stress: 8
student 15 features built: 6.676329851150513 sec
student 16 loaded feat: stress_details.csv
student 16 loaded feat: gps_details.csv
stress: 55
student 16 features built: 50.32159113883972 sec
student 16 data-length: 51

In [18]:
# display(datasets[0][:3])
# display(datasets[1][:3])
all_dataset = pd.concat(datasets, axis=0, sort=False)
all_dataset = all_dataset.sample(frac=1)
display(len(all_dataset))
display(all_dataset)

1207

,time,distance,displacement,distance_std,unique_tile_count,convex_hull_area,tile_change,cluster,entropy,start_term,end_term,mid_term,weekends,stress,student_id
28,2013-04-27,73.329128,30.377913,4.555690,2,2.663421e+04,15,2,1.551189,0,0,1,1,0.0,59
18,2013-04-19,2.332755,0.378132,0.093284,1,4.692335e+02,1,4,2.391741,0,0,1,0,1.0,58
3,2013-04-03,4.577370,0.853284,0.179305,1,5.112034e+02,1,3,2.610556,1,0,0,0,1.0,32
13,2013-04-12,1.591869,0.279540,0.051578,1,1.488565e+02,0,5,2.856612,1,0,0,0,1.0,22
28,2013-04-27,1.702127,0.372270,0.067473,1,5.036043e+02,0,5,2.697267,0,0,1,1,2.0,8
25,2013-05-03,6.481003,2.354208,0.388947,1,2.113959e+03,0,4,1.874362,0,0,1,0,1.0,44
28,2013-05-22,1.573321,0.381101,0.041060,1,8.665088e+01,2,3,3.295337,0,1,0,0,2.0,17
0,2013-03-30,180.780785,172.420880,25.696555,3,2.227962e+05,37,2,0.224346,1,0,0,1,2.0,32
32,2013-05-12,0.579191,0.026408,0.005133,1,1.312542e+00,25,2,4.058437,0,1,0,1,0.0,44
0,2013-04-02,12.957788,6.393554,1.640701,1,1.439350e+03,27,2,0.916213,1,0,0,0,1.0,39
40,2013-05-24,6.120389,0.649326,0.148038,1,2.453054e+02,65,5,2.441403,0,1,0,0,0.0,49
1,2013-03-29,2.997783,0.619614,0.137703,1,2.514438e+02,3,3,2.302655,1,0,0,0,2.0,24
5,2013-04-05,2.751001,0.815472,0.159713,1,1.003919e+03,15,6,2.024110,1,0,0,0,0.0,7
6,2013-04-05,2.848247,0.633416,0.118789,1,4.404818e+02,8,6,2.422371,1,0,0,0,0.0,24
12,2013-04-13,12.211212,8.440626,1.026529,1,3.753568e+04,0,3,1.107830,1,0,0,1,1.0,24
32,2013-05-07,5.229405,0.572775,0.094962,1,5.153252e+02,1,6,3.487201,0,1,0,0,1.0,57
12,2013-04-30,0.001637,0.001637,0.085187,1,0.000000e+00,71,1,0.000000,0,0,1,0,2.0,18
2,2013-03-30,16.927203,7.537283,1.181889,1,1.106822e+04,0,4,1.218662,1,0,0,1,0.0,58
43,2013-05-18,1.721510,0.434798,0.070823,1,1.067301e+02,7,5,2.366473,0,1,0,1,1.0,16
27,2013-04-30,3.999314,1.573052,0.256078,1,6.647531e+02,10,5,1.833028,0,0,1,0,2.0,16
38,2013-05-23,1.627251,0.540576,0.109666,1,3.840002e+02,10,3,1.935976,0,1,0,0,0.0,10
2,2013-03-29,5.738580,0.731056,0.161035,1,2.046699e+03,1,7,2.939946,1,0,0,0,1.0,14
10,2013-04-09,3.597654,0.380444,0.090800,1,4.403672e+02,2,7,3.163058,1,0,0,0,2.0,14
13,2013-05-13,13.063236,5.669402,0.873043,1,1.024342e+04,3,3,1.433561,0,1,0,0,1.0,42
3,2013-04-16,23.281721,7.851914,1.413080,1,1.806419e+03,0,3,1.507777,0,0,1,0,1.0,39
52,2013-05-24,3.069497,0.484979,0.078334,1,3.986596e+02,84,5,2.785390,0,1,0,0,1.0,59
8,2013-04-19,1.183822,0.491244,0.080410,1,1.788932e+01,1,3,1.763822,0,0,1,0,1.0,18
58,2013-05-30,3817.494190,145.640602,54.025289,4,1.573657e+07,46,4,3.418576,0,1,0,0,1.0,59
26,2013-04-27,3.425058,0.569974,0.127046,1,7.219371e+02,0,6,2.621346,0,0,1,1,0.0,10
25,2013-05-19,0.702268,0.015407,0.002589,1,4.367151e-01,0,2,4.838556,0,1,0,1,2.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,2013-05-10,470.058063,175.214926,25.548688,4,3.718637e+07,43,3,1.283023,0,1,0,0,1.0,59
1,2013-03-31,200.818186,163.713030,23.359204,3,5.663739e+06,49,3,0.647922,1,0,0,1,0.0,32
16,2013-05-02,1.914489,0.604081,0.100365,1,1.792805e+02,0,5,2.237153,0,0,1,0,2.0,17
19,2013-04-21,0.816070,0.308368,0.048138,1,3.657827e+01,9,4,2.103434,0,0,1,1,0.0,58
16,2013-04-12,4.291284,0.649633,0.146470,1,1.950433e+03,0,8,2.698713,1,0,0,0,2.0,8
34,2013-05-17,1.508655,0.375712,0.050558,1,3.100279e+02,12,4,2.685125,0,1,0,0,2.0,58
24,2013-05-08,11.912145,5.888555,0.968352,1,1.881964e+02,8,2,0.836655,0,1,0,0,1.0,35
47,2013-05-19,432.361788,139.018943,18.653540,3,7.812815e+06,57,3,1.399312,0,1,0,1,0.0,59
14,2013-04-10,1.109331,0.352698,0.057548,1,2.788956e+01,27,4,2.520403,1,0,0,0,1.0,23
7,2013-04-08,1.469916,0.395596,0.073701,1,2.921578e+02,2,3,2.363240,1,0,0,0,0.0,3
13,2013-04-14,21.828305,7.319783,1.160586,1,4.470140e+04,1,8,2.099588,1,0,0,1,2.0,36
27,2013-04-26,4.387485,0.659323,0.125962,1,7.985725e+02,0,6,2.954538,0,0,1,0,2.0,8
15,2013-04-13,1.682818,0.443933,0.090663,1,2.505025e+01,0,2,2.187285,1,0,0,1,0.0,1
17,2013-04-30,10.388339,4.626022,0.746341,1,4.771963e+03,4,4,1.166480,0,0,1,0,0.0,3
30,2013-05-08,5.919545,2.321031,0.382065,1,1.935660e+03,0,3,1.832352,0,1,0,0,2.0,44
23,2013-05-07,14.032026,6.169119,1.069133,1,9.043075e+03,3,5,1.247227,0,1,0,0,0.0,35
8,2013-04-15,2.313435,0.577084,0.105484,1,3.291371e+02,6,4,2.297348,1,0,0,0,2.0,53
1,2013-04-04,3.692851,1.350837,0.213733,1,3.785000e+03,7,4,2.109207,1,0,0,0,0.0,44
28,2013-05-16,33.196894,7.711098,1.034932,1,2.322555e+04,3,9,2.366260,0,1,0,0,1.0,36
8,2013-04-07,0.882327,0.322038,0.046489,1,5.967750e+01,2,4,2.328591,1,0,0,1,2.0,24
7,2013-04-13,0.494057,0.064904,0.011730,1,6.175023e+00,3,4,3.512588,1,0,0,1,1.0,53
15,2013-04-14,3.267007,0.542706,0.105358,1,5.767414e+02,4,6,2.861909,1,0,0,1,1.0,22
9,2013-04-16,0.863407,0.027814,0.007018,1,2.129424e+00,0,2,4.075199,0,0,1,0,1.0,27
18,2013-04-18,6.465105,0.658961,0.183955,1,2.026712e+03,0,6,2.832481,0,0,1,0,0.0,52
14,2013-05-28,24.424928,9.121157,1.839310,1,3.715584e+04,15,3,1.430912,0,1,0,0,2.0,56
4,2013-03-31,0.337751,0.014443,0.003172,1,3.880423e-01,0,3,4.062272,1,0,0,1,0.0,23
38,2013-05-07,3.789807,0.678716,0.127780,1,7.408344e+02,5,8,2.613289,0,1,0,0,0.0,59
14,2013-04-15,1.445368,0.350583,0.073413,1,2.015056e+02,7,4,2.056399,1,0,0,0,1.0,35
13,2013-04-12,1.791262,0.506939,0.086061,1,1.854776e+02,0,5,2.375189,1,0,0,0,2.0,14
7,2013-04-07,1.517340,0.493421,0.075798,1,4.981749e+01,0,4,2.502852,1,0,0,1,1.0,16

In [19]:
data_path = module_path + "/data"
file_path = data_path + "/gatis-old-{}.pkl".format(len(STUDENTS_LIST))
print(file_path)
print(os.path.exists(data_path))
all_dataset.to_pickle(file_path)

/Users/nsimsiri/Documents/code/ml/MultiRes/student_life/data/gatis-old-59.pkl
True

In [20]:
mm = pd.read_pickle(file_path)
display(mm)

,time,distance,displacement,distance_std,unique_tile_count,convex_hull_area,tile_change,cluster,entropy,start_term,end_term,mid_term,weekends,stress,student_id
28,2013-04-27,73.329128,30.377913,4.555690,2,2.663421e+04,15,2,1.551189,0,0,1,1,0.0,59
18,2013-04-19,2.332755,0.378132,0.093284,1,4.692335e+02,1,4,2.391741,0,0,1,0,1.0,58
3,2013-04-03,4.577370,0.853284,0.179305,1,5.112034e+02,1,3,2.610556,1,0,0,0,1.0,32
13,2013-04-12,1.591869,0.279540,0.051578,1,1.488565e+02,0,5,2.856612,1,0,0,0,1.0,22
28,2013-04-27,1.702127,0.372270,0.067473,1,5.036043e+02,0,5,2.697267,0,0,1,1,2.0,8
25,2013-05-03,6.481003,2.354208,0.388947,1,2.113959e+03,0,4,1.874362,0,0,1,0,1.0,44
28,2013-05-22,1.573321,0.381101,0.041060,1,8.665088e+01,2,3,3.295337,0,1,0,0,2.0,17
0,2013-03-30,180.780785,172.420880,25.696555,3,2.227962e+05,37,2,0.224346,1,0,0,1,2.0,32
32,2013-05-12,0.579191,0.026408,0.005133,1,1.312542e+00,25,2,4.058437,0,1,0,1,0.0,44
0,2013-04-02,12.957788,6.393554,1.640701,1,1.439350e+03,27,2,0.916213,1,0,0,0,1.0,39
40,2013-05-24,6.120389,0.649326,0.148038,1,2.453054e+02,65,5,2.441403,0,1,0,0,0.0,49
1,2013-03-29,2.997783,0.619614,0.137703,1,2.514438e+02,3,3,2.302655,1,0,0,0,2.0,24
5,2013-04-05,2.751001,0.815472,0.159713,1,1.003919e+03,15,6,2.024110,1,0,0,0,0.0,7
6,2013-04-05,2.848247,0.633416,0.118789,1,4.404818e+02,8,6,2.422371,1,0,0,0,0.0,24
12,2013-04-13,12.211212,8.440626,1.026529,1,3.753568e+04,0,3,1.107830,1,0,0,1,1.0,24
32,2013-05-07,5.229405,0.572775,0.094962,1,5.153252e+02,1,6,3.487201,0,1,0,0,1.0,57
12,2013-04-30,0.001637,0.001637,0.085187,1,0.000000e+00,71,1,0.000000,0,0,1,0,2.0,18
2,2013-03-30,16.927203,7.537283,1.181889,1,1.106822e+04,0,4,1.218662,1,0,0,1,0.0,58
43,2013-05-18,1.721510,0.434798,0.070823,1,1.067301e+02,7,5,2.366473,0,1,0,1,1.0,16
27,2013-04-30,3.999314,1.573052,0.256078,1,6.647531e+02,10,5,1.833028,0,0,1,0,2.0,16
38,2013-05-23,1.627251,0.540576,0.109666,1,3.840002e+02,10,3,1.935976,0,1,0,0,0.0,10
2,2013-03-29,5.738580,0.731056,0.161035,1,2.046699e+03,1,7,2.939946,1,0,0,0,1.0,14
10,2013-04-09,3.597654,0.380444,0.090800,1,4.403672e+02,2,7,3.163058,1,0,0,0,2.0,14
13,2013-05-13,13.063236,5.669402,0.873043,1,1.024342e+04,3,3,1.433561,0,1,0,0,1.0,42
3,2013-04-16,23.281721,7.851914,1.413080,1,1.806419e+03,0,3,1.507777,0,0,1,0,1.0,39
52,2013-05-24,3.069497,0.484979,0.078334,1,3.986596e+02,84,5,2.785390,0,1,0,0,1.0,59
8,2013-04-19,1.183822,0.491244,0.080410,1,1.788932e+01,1,3,1.763822,0,0,1,0,1.0,18
58,2013-05-30,3817.494190,145.640602,54.025289,4,1.573657e+07,46,4,3.418576,0,1,0,0,1.0,59
26,2013-04-27,3.425058,0.569974,0.127046,1,7.219371e+02,0,6,2.621346,0,0,1,1,0.0,10
25,2013-05-19,0.702268,0.015407,0.002589,1,4.367151e-01,0,2,4.838556,0,1,0,1,2.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,2013-05-10,470.058063,175.214926,25.548688,4,3.718637e+07,43,3,1.283023,0,1,0,0,1.0,59
1,2013-03-31,200.818186,163.713030,23.359204,3,5.663739e+06,49,3,0.647922,1,0,0,1,0.0,32
16,2013-05-02,1.914489,0.604081,0.100365,1,1.792805e+02,0,5,2.237153,0,0,1,0,2.0,17
19,2013-04-21,0.816070,0.308368,0.048138,1,3.657827e+01,9,4,2.103434,0,0,1,1,0.0,58
16,2013-04-12,4.291284,0.649633,0.146470,1,1.950433e+03,0,8,2.698713,1,0,0,0,2.0,8
34,2013-05-17,1.508655,0.375712,0.050558,1,3.100279e+02,12,4,2.685125,0,1,0,0,2.0,58
24,2013-05-08,11.912145,5.888555,0.968352,1,1.881964e+02,8,2,0.836655,0,1,0,0,1.0,35
47,2013-05-19,432.361788,139.018943,18.653540,3,7.812815e+06,57,3,1.399312,0,1,0,1,0.0,59
14,2013-04-10,1.109331,0.352698,0.057548,1,2.788956e+01,27,4,2.520403,1,0,0,0,1.0,23
7,2013-04-08,1.469916,0.395596,0.073701,1,2.921578e+02,2,3,2.363240,1,0,0,0,0.0,3
13,2013-04-14,21.828305,7.319783,1.160586,1,4.470140e+04,1,8,2.099588,1,0,0,1,2.0,36
27,2013-04-26,4.387485,0.659323,0.125962,1,7.985725e+02,0,6,2.954538,0,0,1,0,2.0,8
15,2013-04-13,1.682818,0.443933,0.090663,1,2.505025e+01,0,2,2.187285,1,0,0,1,0.0,1
17,2013-04-30,10.388339,4.626022,0.746341,1,4.771963e+03,4,4,1.166480,0,0,1,0,0.0,3
30,2013-05-08,5.919545,2.321031,0.382065,1,1.935660e+03,0,3,1.832352,0,1,0,0,2.0,44
23,2013-05-07,14.032026,6.169119,1.069133,1,9.043075e+03,3,5,1.247227,0,1,0,0,0.0,35
8,2013-04-15,2.313435,0.577084,0.105484,1,3.291371e+02,6,4,2.297348,1,0,0,0,2.0,53
1,2013-04-04,3.692851,1.350837,0.213733,1,3.785000e+03,7,4,2.109207,1,0,0,0,0.0,44
28,2013-05-16,33.196894,7.711098,1.034932,1,2.322555e+04,3,9,2.366260,0,1,0,0,1.0,36
8,2013-04-07,0.882327,0.322038,0.046489,1,5.967750e+01,2,4,2.328591,1,0,0,1,2.0,24
7,2013-04-13,0.494057,0.064904,0.011730,1,6.175023e+00,3,4,3.512588,1,0,0,1,1.0,53
15,2013-04-14,3.267007,0.542706,0.105358,1,5.767414e+02,4,6,2.861909,1,0,0,1,1.0,22
9,2013-04-16,0.863407,0.027814,0.007018,1,2.129424e+00,0,2,4.075199,0,0,1,0,1.0,27
18,2013-04-18,6.465105,0.658961,0.183955,1,2.026712e+03,0,6,2.832481,0,0,1,0,0.0,52
14,2013-05-28,24.424928,9.121157,1.839310,1,3.715584e+04,15,3,1.430912,0,1,0,0,2.0,56
4,2013-03-31,0.337751,0.014443,0.003172,1,3.880423e-01,0,3,4.062272,1,0,0,1,0.0,23
38,2013-05-07,3.789807,0.678716,0.127780,1,7.408344e+02,5,8,2.613289,0,1,0,0,0.0,59
14,2013-04-15,1.445368,0.350583,0.073413,1,2.015056e+02,7,4,2.056399,1,0,0,0,1.0,35
13,2013-04-12,1.791262,0.506939,0.086061,1,1.854776e+02,0,5,2.375189,1,0,0,0,2.0,14
7,2013-04-07,1.517340,0.493421,0.075798,1,4.981749e+01,0,4,2.502852,1,0,0,1,1.0,16

In [21]:
ss = pd.concat(all_stress, axis=0)
ss['count'] = [1 for i in range(len(ss))]
# display(ss)
rss = ss.groupby('stress').sum()
print(rss)
print(rss['count'].sum())

res = rss.values/rss.sum().values[0]
print(res)

print('median: ', ss.median() )

        count
stress
0.0       360
1.0       465
2.0       474
1299
[[0.27713626]
 [0.35796767]
 [0.36489607]]
median:  stress    1.0
count     1.0
dtype: float64