In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

from IPython.display import display
import pandas as pd
import numpy as np

from src.data_processing.student_life_binned_aggregator import student_data, student_data_flattened, student_data_flattened_processed, time_deltas_min
from src.data_processing.helper import remove_days_with_no_stress_label

In [28]:
activity_data = student_data[0]
audio_data = student_data[1]
with pd.option_context('display.max_rows', 1000, 'display.max_columns', None):
#     display(student_data_flattened_processed.loc["2013-03-29 "])
    display(student_data_flattened_processed.tail())

,student_id,activity_inference_min,activity_inference_max,activity_inference_mode,audio_activity_inference_min,audio_activity_inference_max,audio_activity_inference_mode,conv_duration_min_sum,phonecharge_duration_min_sum,dark_duration_min_sum,hours_slept_sum,sleep_rating_sum,latitude_mode,longitude_mode,stress_level_mode
2013-05-21 23:56:00,35,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-21 23:57:00,35,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-21 23:58:00,35,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-21 23:59:00,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-22 00:00:00,35,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,43.70537,-72.283226,2.0

In [30]:
with pd.option_context('display.max_rows', 100, 'display.max_columns', None):
#     display(time_deltas_min.tail())
    display(activity_data.loc['2013-03-29'].tail())

,student_id,activity_inference_min,activity_inference_max,activity_inference_mode
time,,,,
2013-03-29 23:55:00,35,0.0,0.0,0.0
2013-03-29 23:56:00,35,0.0,0.0,0.0
2013-03-29 23:57:00,35,-1.0,-1.0,-1.0
2013-03-29 23:58:00,35,-1.0,-1.0,-1.0
2013-03-29 23:59:00,35,0.0,0.0,0.0